[user]
    user = bporter816
    name = Benjamin Porter
    email = bporter816@gmail.com
[core]
    editor = vim
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
