[user]
    user = bporter816
    name = Benjamin Porter
    email = bporter816@gmail.com
[core]
    editor = vim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[alias]
    a = add
    aa = add --all

    b = branch

    c = commit
    ca = commit -a
    cm = commit -m
    cam = commit -am

    ch = checkout
    chb = checkout -b

    cl = clone

    d = diff
    dt = difftool

    l = log --oneline
    ll = log

    pl = pull

    ps = push

    re = reset
    rh = reset HEAD

    s = status
